.head-block 
{
    background: #000000 url("/static/img/header_image.jpg") no-repeat;
    background-size: cover;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.head-block__top-head
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.head-block__logo 
{
    color: #FFFFFF;
    font: 400 26px "Lora";
    text-decoration: none;
}

.head-block__menu
{
    display: flex;
    gap: 40px;
}

.head-block__menu-word 
{
    text-decoration: none;
    color: #FFFFFF;
    font: 400 12px/1.67 'Oxygen';
}

.head-block__menu-word:hover 
{
    color: #DD783F;
}

.head-block__title
{
    text-align: center;
    margin: 130px 0 0;
    font: 400 50px/1.02 "Lora";
    color: #FFFFFF;
}

.head-block__description
{
    text-align: center;
    font: 400 17px/1.18 "Oxygen";
    color: rgba(255, 255, 255, 0.63);
}

.main-menu
{
    font: 400 14px/1.43 "Lora";
    text-align: center;
    background: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 23px;
    display: flex;
    justify-content: center;
    gap: 85px;
}

.main-menu__word
{
    text-decoration: none;
    min-width: 90px;
    color: #768088;
}

.main-menu__words:hover
{
    color: #DD783F;
}

.head-block__button 
{
    padding: 12px 31px 12px 31px;
    background-color: #DD783F;
    border-radius: 3px;
    border-width: 0;
    font: 13px/1.54 "Oxygen";
    text-align: center;
    color: #FFFFFF;
    margin: 43px auto 157px;
}

.page 
{
    margin: 0;
}

.body-background 
{
    background: #F7F7F7;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-block-headline 
{
    font: 400 20px/1.35 "Oxygen";
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-underline-offset: 16px;
    margin-top: 60px;
}

.main-blocks
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.main-block
{
    max-width: 460px;
    width: 100%;
}

.main-block_the-road-ahead-background 
{
    background: url("/static/img/the_road_ahead.png") no-repeat;
    text-decoration: none;
}

.main-block_from-top-down-background
{
    background: url("/static/img/from_top_down.png") no-repeat;
    text-decoration: none;
}

.main-block__main-info
{
    margin-top: 157px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
}

.main-block__title
{
    font: 400 27px/1.11 "Lora";
    color: #FFFFFF;
}

.main-block__description
{
    font: 400 14px/1.79 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
}

.main-block__modif
 {
    position: absolute;
    background: #DD783F;
    border-radius: 2px;
    color: #FFFFFF;
    width: 87px;
    padding-top: 6px;
    padding-bottom: 7px;
    font: 400 12px/1.08 'Oxygen';
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.main-block__modif_none
{
    margin: 0;
}

.main-block__post-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.main-block__person
{
    font: 400 12px/2.92 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
}


.main-block__date
 {
    font: 400 12px/2.92 "Oxygen";
    color: #FFFFFF;
    opacity: 0.7;
    display: inline-block;

}

.main-block__image-of-person
{
    max-width: 26px;
    max-height: 26px;
    border-radius: 50%;
}

.main-block__author
{
    display: flex;
    margin-left: 20px;
    align-items: center;
    gap: 10px;
}

.post-blocks
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-right: 250px;
    padding-left: 250px;
    margin-top: 39px; 
}

.post-block-headline 
{
    font: 400 20px/1.35 "Oxygen";
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-underline-offset: 16px;
    margin-top: 60px;
}

.post-block 
{
    background: #FFFFFF;
    width: 296px; 
    text-decoration: none;
}

.post-block__info
{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    margin-top: 14px;
    margin-left: 13px;
    margin-right: 13px;
}

.post-block__title 
{
    font: 400 16px/1.31 "Lora";
    color: black;
}

.post-block__description 
{
    font: 400 13px/1.46 "Oxygen";
    color: #7A7A7A;
}

.post-block__post-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-block__author
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-block__person
{
    font: 400 12px/2.92 "Oxygen";
    color: #999999;
}

.post-block__date 
{
    font: 400 12px/2.92 "Oxygen";
    color: #999999;
}

.post-block__image-of-person
{
    border-radius: 50%;
}

.footer__background
{
    background: #000000 url("/static/img/stay_in_touch.png") no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 108px; 
}

.footer-headline 
{
    font: 400 25px/30px "Oxygen";
    color: #EFEFEF;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-underline-offset: 17px;
    margin-top: 81px;
}

.form 
{
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.form__input 
{
    width: 375px;
    padding: 18px 35px;
    font: 400 12px/1.17 "Roboto";
    text-align: left;
    color: #808080;
}

.form__button 
{
    opacity: 72%;
    padding: 18px 43px 18px 44px;
    background-color: #808080;
    border-radius: 0 3px 3px 0;
    border-width: 0;
    font: 400 12px/1.17 "Roboto";
    text-align: center;
    color: #FFFFFF;
}

.footer 
{
    background: #232F38 url("/static/img/footer.png") no-repeat;
    opacity: 0.6;
    width: 100%;
    margin-top: 81px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 31px;
    padding-bottom: 32px;
}

.footer__logo
{
    color: #FFFFFF;
    font: 400 26px "Lora";
}

.footer__menu 
{
    display: flex;
    gap: 20px;
}

.footer__menu-word 
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font: 400 11px/2.36 "Oxygen";
}

.footer__menu-word:hover 
{
    color: #DD783F;
}