<!DOCTYPE html>
<html lang="en">
<head>
  <title>index</title>
  <meta charset="utf-8">
  <link href="/static/css/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="page">
  <div class="body-background">
    <div class="head-block">
      <header>
        <div class="head-block__top-head">
          <span class="head-block__logo">Escape.</span>
          <nav class="head-block__menu">
            <a class="head-block__menu-word" href="">HOME</a>
            <a class="head-block__menu-word" href="">CATEGORIES</a>
            <a class="head-block__menu-word" href="">ABOUT</a>
            <a class="head-block__menu-word" href="">CONTACT</a>
          </nav>
        </div>
      </header>
      <h1 class="head-block__title">Let's do it together.</h1>
      <p class="head-block__description">We travel the world in search of stories. Come along for the ride.</p>
      <button type="button" class="head-block__button">View Latest Posts</button>
    </div>
    <nav class="main-menu">
      <a class="main-menu__word" href="">Nature</a>
      <a class="main-menu__word" href="">Photography</a>
      <a class="main-menu__word" href="">Relaxation</a>
      <a class="main-menu__word" href="">Vacation</a>
      <a class="main-menu__word" href="">Travel</a>
      <a class="main-menu__word" href="">Adventure</a>
    </nav>
    <section>
      <h2 class="main-block-headline">Featured Posts</h2>
      <div class="main-blocks">
        {{ range .FeaturedPosts }}
        <div class="{{ .ImgModifier }}">
          <div class="{{ .ButtonModifier }}">{{ .ButtonText }}</div>
          <div class="main-block__main-info">
            <span class="main-block__title">{{ .Title }}</span>
            <p class="main-block__description">{{ .Subtitle }}</p>
          </div>
          <div class="main-block__post-info">
            <div class="main-block__author">
              <img class="main-block__image-of-person" src="{{ .AuthorImg }}">
              <span class="main-block__person">{{ .Author }}</span>
            </div>
            <span class="main-block__date">{{ .PublishDate }}</span>
          </div>
        </div>
        {{ end }}
      </div>
    </section>
    <section>
      <h2 class="post-block-headline">Most Recent</h2>
      <div class="post-blocks">
        {{ range .MostResentPosts }}
        <div class="post-block">
          <img src="{{ .Img }}">
          <div class="post-block__info">
            <span class="post-block__title">{{ .Title }}</span>
            <p class="post-block__description">{{ .Subtitle }}</p>
            <div class="post-block__post-info">
              <div class="post-block__author">
                <img class="post-block__image-of-person" src="{{ .AuthorImg }}">
                <span class="post-block__person">{{ .Author }}</span>
              </div>
              <span class="post-block__date">{{ .PublishDate }}</span>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </section>
    <div class="footer__background">
      <h2 class="footer-headline">Stay in Touch</h2>
      <form class="form">
        <input class="form__input" type="email" name="mail" placeholder="Enter your email adress">
        <input class="form__button" type="submit" value="submit">
      </form>
      <footer class="footer">
        <span class="footer__logo">Escape.</span>
        <nav class="footer__menu">
          <a class="footer__menu-word" href="">HOME</a>
          <a class="footer__menu-word" href="">CATEGORIES</a>
          <a class="footer__menu-word" href="">ABOUT</a>
          <a class="footer__menu-word" href="">CONTACT</a>
        </nav>
      </footer>
    </div>
  </div>
</body>

</html>
